@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

@keyframes boundingHero {
  0% { opacity: 0; transform: translateY(10px); } 
  50% { opacity: 100; transform: translateY(0); } 
  100% { opacity: 0; transform: translateY(10px);}
}

.boundingHero{
  animation: boundingHero 2s infinite;
}